<div class="class jumbotron">
    <h1 class="display-4 text-center">Employee Maintenance</h1>
    <hr>
    <hr>

    <div class="wrapper">
        <h2>Employee Search</h2>
    </div>
    <hr>
    <div class="row" style="border: 2px solid black; padding: 10px">
        <hr>
        <hr>
        <div class="dropdown col-sm-5">
            <form action="" name="FILTER">
                <select name="filter_for">
                    <option value="search">Search All</option>
                    <option value="userName">Username</option>
                    <option value="lastName">Last Name</option>
                    <option value="email">E-Mail Address</option>
                    <option value="mobile">Mobile Number</option>
                    <option value="" hidden>ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</option>
                </select>
            </form>
        </div>
        <input name="searchBox" class="col-md-6">
        <hr>
        <hr>
        <div class="button">
            <form class="search">
                <button (click)="searchUser()" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <hr>
    <hr>
    <form action="signup">
        <div class="wrapper">
            <button (click)="createNewUser()" type="submit">Create New User</button>
        </div>
    </form>
    <hr>
    <hr>
    <table class="table-striped table text-center">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>E-Mail Address</th>
                <th>Employee Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of service.list">
                <td (click)="populateForm(emp)">{{emp.employeeId}}</td>
                <td (click)="populateForm(emp)">{{emp.userName}}</td>
                <td (click)="populateForm(emp)">{{emp.firstName}} {{emp.lastName}}</td>
                <td (click)="populateForm(emp)">{{emp.email}}</td>
                <td (click)="populateForm(emp)">{{emp.employeeStatus}}</td>
                <td><button (click)="updateRecord(emp.employeeId)" class="btn md btn-outline-primary"><i class="fa fa-edit"></i></button>
                    <button (click)="onDelete(emp.employeeId)" class="btn md btn-outline-danger"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>