<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group">
        <label>First Name</label>
        <input name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" required>
        <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is required.</div>
    </div>

    <div class="form-group">
        <label>Middle Name</label>
        <input name="middleName" #middleName="ngModel" [(ngModel)]="service.formData.middleName" class="form-control">
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Birthday</label>
            <input name="birthday" #birthday="ngModel" [(ngModel)]="service.formData.birthday" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label>Employee ID</label>
            <input name="employeeId" #employeeId="ngModel" [(ngModel)]="service.formData.employeeId" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
</form>